# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.venv/

# Django
*.log
db.sqlite3

# i18n / 語系檔（保留 .po，忽略編譯與備份）
locale/**/LC_MESSAGES/*.mo
locale/**/LC_MESSAGES/*.po~
# 若 .pot 是自動產生且不想版控，打開下一行
# locale/**/LC_MESSAGES/*.pot

# Static / Media
# 不忽略你的專案 static/，只忽略 collectstatic 的輸出目錄
staticfiles/
media/

# IDE / Editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node / Frontend
node_modules/
npm-debug.log
yarn-error.log

# Cache
.cache/
