# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
.venv/
venv/

# Django: 只忽略 collectstatic 產出的資料夾
staticfiles/
media/

# IDE / 系統
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node
node_modules/
.cache/

# i18n compiled
locale/**/LC_MESSAGES/*.mo
locale/**/LC_MESSAGES/*.pot

# DB
db.sqlite3

# Secrets
.env
